/* public home slider */
.publicHome_swiper .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.publicHome_swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 450px;
  border: 2px solid transparent;
  overflow: hidden;
}

.publicHome_swiper .swiper-slide img {
  width: 800px;
  height: 450px;
  object-fit: cover;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.publicHome_swiper .swiper-slide-active {
  box-shadow: 0 0 20px rgba(217, 165, 32, 0.4);
  border: 2px solid rgba(217, 165, 32, 0.5);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.publicHome_swiper .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.3;
  transition: background 0.3s;
}

.publicHome_swiper .swiper-pagination-bullet-active {
  background: #d9a520;
  opacity: 1;
}

/* movies header */
.movies_swiper {
  width: 85%;
  aspect-ratio: 16/9;
}

.movies_swiper .swiper {
  width: 100%;
  height: 100%;
}

.movies_swiper .mySwiper2 .swiper-slide img {
  object-fit: cover;
}
.movies_swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies_swiper .mini_slider {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to top, black, #d9a52054, rgba(0, 0, 0, 0.8));
  height: 160px;
  width: 100%;
}

.movies_swiper .swiper-slide img {
  display: block;
  width: 110px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (width<1280px) {
  .movies_swiper {
    width: 100%;
    aspect-ratio: 16/9;
  }
}

@media screen and (width<1100px) {
  .publicHome_swiper .swiper-slide {
    width: 70%;
    aspect-ratio: 16/9;
  }

  .publicHome_swiper .swiper-slide img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (width<1024px) {
  .movies_swiper .mini_slider {
    position: unset;
    transform: translateX(0);
    background: black;
    height: 170px;
  }
}

@media screen and (width<768px) {
  .publicHome_swiper .swiper-slide {
    width: 90%;
    aspect-ratio: 16/9;
  }

  .publicHome_swiper .swiper-slide img {
    width: 100%;
    object-fit: cover;
  }
}

