@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: black --default;
}

@theme {
  --color-main: #d9a520;
  --breakpoint-xs: 485px;
}
html {
  scroll-behavior: smooth;
  scrollbar-gutter: auto !important;
}

body {
  overflow-x: hidden;
  font-family: inherit !important;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
label,
select {
  outline: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: var(--color-main);
  padding: 0.3125rem;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.7;
  border-radius: 50%;
  transition: all 0.8s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.25rem;
}
.swiper-button-next::after {
  transform: translate(0.0625rem);
}
.swiper-button-prev::after {
  transform: translate(-0.0625rem);
}
button {
  cursor: pointer;
}

@media screen and (width<768px) {
  html,
  body {
    font-size: 14px;
  }
}
