@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: black --default;
}

@theme {
  --color-main: #0582ff;
}
body {
  overflow-x: hidden;
  font-family: inherit !important;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
label {
  outline: none;
}
