@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: black --default;
}

@theme {
  --color-main: #d9a520;
  --breakpoint-xs: 30.3125rem;
  --breakpoint-xxs: 22.8125rem;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: auto !important;
}

body {
  overflow-x: hidden;
  font-family: inherit !important;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
label,
select {
  outline: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: var(--color-main);
  padding: 0.3125rem;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.7;
  border-radius: 50%;
  transition: all 0.8s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.25rem;
}
.swiper-button-next::after {
  transform: translate(0.0625rem);
}
.swiper-button-prev::after {
  transform: translate(-0.0625rem);
}
button {
  cursor: pointer;
}

.field {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
}
.field input {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.134);
  border: 1px solid rgba(242, 241, 241, 0.084);
  width: 100%;
  transition: all 0.4s;
  min-width: 12.5rem;
}

.field input::placeholder {
  font-size: 13px;
  transition: all 0.4s;
}
.field input:focus {
  scale: 1.01;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.362);
}
.field input:focus::placeholder {
  font-size: 11px;
}
.field label {
  font-weight: 600;
  margin-bottom: 10px;
  text-align: start;
}

@media screen and (width<768px) {
  html,
  body {
    font-size: 14px;
  }
}
